:root {
    //Color Palette derived from Blocksy theme's color palette.
    --wp-fundi-primary-color: var(--theme-palette-color-1, #552732); //Primary brand color, used for key accents.
    --wp-fundi-alternative-color: var(--theme-palette-color-2, #fcdfb7); //Alternative color, often used for hover effects.
    --wp-fundi-main-text-color: var(--theme-palette-color-3, #192a3d); //Main text color for paragraphs.
    --wp-fundi-secondary-text-color: var(--theme-palette-color-4, #000000); //Headings, subheadings, and titles.
    --wp-fundi-border-color: var(--theme-palette-color-5, #687279); //Borders and dividing elements.
    --wp-fundi-subtle-background-color: var(--theme-palette-color-6, #f2f5f7); //Subtle backgrounds, such as page heroes and footers.
    --wp-fundi-main-background-color: var(--theme-palette-color-7, #FAFBFC); //Main site background.
    --wp-fundi-light-alternative-color: var(--theme-palette-color-8, #ffffff); //A lighter alternative, often used for header backgrounds.

    //Bonus Colors
    --wp-fundi-success-color: #34A853; //Success
    --wp-fundi-error-color: #EA4335; //Error
    --wp-fundi-warning-color: #FBBC05; //Warning
    --wp-fundi-info-color: #1967D2; //Info

    --wp-fundi-border-alternative-color: #0000001a;

    --wp-fundi-containers-border-radius: 8px; //Border radius for containers.
    --wp-fundi-small-containers-border-radius: 4px; //Smaller border radius for compact elements.
}

//Reusable styles
%application-button {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--wp-fundi-alternative-color);
    border-radius: 0.375rem;
    background: var(--wp-fundi-primary-color);
    font-size: 0.9rem;
    color: var(--wp-fundi-light-alternative-color);

    &:hover {
        background: var(--wp-fundi-primary-color);
        color: var(--wp-fundi-alternative-color);
    }
}

%cards {
    background: var(--wp-fundi-subtle-background-color);
    padding: 1.25rem;
    border-radius: 0.75rem;
    border: 1px solid var(--wp-fundi-border-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);

    &:hover {
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    }
}

%inputs {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--wp-fundi-border-color);
    border-radius: 0.375rem;
    background: var(--wp-fundi-light-alternative-color);
    font-size: 0.9rem;

    &:focus {
        border-color: var(--wp-fundi-primary-color);
        outline: none;
    }
}

%job-details-link {

    color: var(--wp-fundi-main-text-color);
    text-decoration: none;

    &:hover {
        color: var(--wp-fundi-border-color);
    }

}

%company-logo-img {
    width: 100px;
    height: 100px;
    border-radius: var(--wp-fundi-containers-border-radius, 8px);
    object-fit: cover;
    margin-bottom: 0.5rem;
}