.job-notices-carousel-content {
	position: relative;
	overflow: hidden;

	.job-notices-image {
		position: relative;
		width: 120px;
		height: 120px;
		display: flex;
		align-items: center;

		img {
			width: 100%;
			height: auto;
			aspect-ratio: auto;
			object-fit: contain;
		}
	}

	.job-notices-image-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: opacity 0.3s ease;
		text-align: center;
		pointer-events: none; // Prevent blocking image interactions if needed
	}

	&:hover {
		.job-notices-image-overlay {
			opacity: 1;
			pointer-events: auto;
		}
	}
}